
.modal-title {
    color: white;
    width: 400 !important;
}

footer{
    color: white;
}

label {
    text-align: left;
}

select,
option,
input,
textarea,
#nome_home,
.dropdown-item,
.nav-link {
    color: white !important;
}

small {
    width: 800 !important;
}

body {
    min-height: 100vh !important;
    background: #fef6ed !important;
    background-size: cover !important;
}

hr,
.h3-titulo {
    color: #dc748d;
}

.nav>li>a:hover {
    background-color: #d57891;
}

.dropdown-item:hover {
    background: #d57891 !important;
}

.card-header,
.card-footer,
.navbar,
thead,
.modal-header,
.modal-footer {
    background: #dc748d !important;
}

.card-body,
tbody,
.form-control,
.form-select,
.dropdown-menu,
.submenu,
.modal-body {
    background: #ff8fad !important;
}

#alerta{
    margin-bottom: 25px;
}

#alterar-senha {
    color: #d57891;
}

#alterar-senha label{
    color: #d57891;
}

/* Modal */
.col-form-label{
    color: #fef6ed;
}

.form-control textarea{
    color: white;
}

.form-group{
    margin-bottom: 10px;
}

.form-control:disabled{
    background: #dc748d !important;
}

/* Navbar */
.dropdown{
    display: flexbox;
    font-size: 16px;
    align-items: flex-start;
}

#user-icon{
    font-size: 24px;
    margin-right: 5px;
}

#lista-pedidos .card-text {
    color: white;
}


/* Login page */
#tela-login{
    color: white;    
}

#tela-registro{
    color: white;
}

/* Home page */

.card-header h2{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.card {
    min-width: 280px !important; 
    max-width: 280px !important;
    overflow: hidden;
    margin-bottom: 25px;
}

/* Clientes */

.btn-add{
    display: flex;
    margin-left: 10px;
}
.btn-add ion-icon{
    margin-right: 5px;
}

#lista-clientes .card-header h2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin: 0;
}

#lista-clientes .card-header ion-icon{
    color: white;
    font-size: 20px !important;
    margin-right: 5px;
}

#lista-clientes .card-text ion-icon{
    font-size: 24px;
    color: #d57891;
    margin-right: 5px;
}

#lista-clientes .card-text{
    color: white;
    margin: 0;
    font-size: 16px;
    display: flex;
}

#lista-clientes .card {
    min-width: 280px;
    max-width: 280px;
    overflow: hidden;
    margin-bottom: 25px;
}

#lista-clientes .card-text{
    text-align: left;
}

#lista-clientes .btn-add{
    margin-left: 2%;
}

/* Produtos */

.btn-add{
    display: flex;
    margin-left: 10px;
}
.btn-add ion-icon{
    margin-right: 5px;
}

#imagem-produto {
    /* margin-right: 5%; */
}

#lista-produtos .card-header h2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: white;
    margin: 0;
}

#lista-produtos .card-header ion-icon{
    color: white;
    font-size: 35px !important;
    /* margin-right: 0%; */
}

#lista-produtos .card-text ion-icon{
    font-size: 24px;
    color: #d57891;
    margin-right: 5px;
}

#lista-produtos .card-text{
    color: white;
    margin: 0;
    font-size: 16px;
    display: flex;
}

#lista-produtos .card {
    min-width: 280px;
    max-width: 280px;
    overflow: hidden;
    margin-bottom: 25px;
}

#lista-produtos .card-text{
    text-align: left;
}

#lista-produtos .btn-add{
    margin-left: 2%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


